In [21]:
# Se importan las librerías que se utilizarán en este archivo.
import pandas as pd
import json

In [22]:
# Se crea una lista para posteriormente cargar allí los datos provenientes del arhcivo json, el procedimiento se realiza abriendo el archivo json  e iterando cada linea dentro del archivo para guardar linea a linea en la lista creada.
data1 = []
with open('output_steam_games.json') as f1:
    for line in f1:
        data1.append(json.loads(line))

In [23]:
#creo un Data Frame a partir de la lista creada en el paso anterior.
df_output = pd.DataFrame(data1)

In [24]:
#realizo un poco de EDA sobre el archivo con el fin de conocer a qué tipo de informaicón me estoy enfrentando y poder identificar columnas clave.
conteo_NaN = df_output.isna().sum().sum()
print("El número de valores NaN es:", conteo_NaN)
df_output.head(5)

El número de valores NaN es: 1168997

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_output.tail(5)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [26]:
# Se limpia el Data Frame de NaN y se eliminan columnas que considero irrelevantes.
df_output = df_output.dropna()
df_output = df_output.drop(['publisher', 'reviews_url','url','tags', 'app_name', 'specs', 'price', 'early_access', 'developer'], axis=1)

In [27]:
genres = df_output['genres']

In [28]:
genres

88310         [Action, Casual, Indie, Simulation, Strategy]
88311                  [Free to Play, Indie, RPG, Strategy]
88312     [Casual, Free to Play, Indie, Simulation, Sports]
88313                           [Action, Adventure, Casual]
88315                       [Action, Adventure, Simulation]
                                ...
120439                   [Action, Adventure, Casual, Indie]
120440                [Casual, Indie, Simulation, Strategy]
120441                            [Casual, Indie, Strategy]
120442                          [Indie, Racing, Simulation]
120443                                      [Casual, Indie]
Name: genres, Length: 22530, dtype: object

In [29]:
df_exploded = genres.explode('genres')

In [30]:
print ("Número total de géneros distintos:", len(df_exploded.unique()))
df_exploded.unique()

Número total de géneros distintos: 21

array(['Action', 'Casual', 'Indie', 'Simulation', 'Strategy',
       'Free to Play', 'RPG', 'Sports', 'Adventure', 'Racing',
       'Early Access', 'Massively Multiplayer',
       'Animation &amp; Modeling', 'Web Publishing', 'Education',
       'Software Training', 'Utilities', 'Design &amp; Illustration',
       'Audio Production', 'Video Production', 'Photo Editing'],
      dtype=object)

In [31]:
df_output.head(5)

,genres,title,release_date,id
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,761140
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,643980
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,670290
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,767400
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,772540

In [32]:
# Creamos dummies para columna "genres"
df_output['genres'] = df_output['genres'].fillna('[]')  # Rellenar los valores faltantes con una lista vacía
df_output['genres'] = df_output['genres'].apply(lambda x: ', '.join(x))  # Convertir la lista de géneros a una cadena separada por comas

# Se crean variables ficticias para cada género
dummy_genres = df_output['genres'].str.get_dummies(', ')

# Se Concatenan las variables ficticias con el DataFrame original
df_dummies = pd.concat([df_output, dummy_genres], axis=1)

In [33]:
df_dummies.head(5)

,genres,title,release_date,id,Action,Adventure,Animation &amp; Modeling,Audio Production,Casual,Design &amp; Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
88310,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,761140,1,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
88311,"Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,643980,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
88312,"Casual, Free to Play, Indie, Simulation, Sports",Real Pool 3D - Poolians,2017-07-24,670290,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
88313,"Action, Adventure, Casual",弹炸人2222,2017-12-07,767400,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
88315,"Action, Adventure, Simulation",Battle Royale Trainer,2018-01-04,772540,1,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [34]:

# Se reemplaza un detalle en los títulos
df_dummies.columns = df_dummies.columns.str.replace("&amp;", "&")

In [35]:
df_dummies.head(2)

,genres,title,release_date,id,Action,Adventure,Animation & Modeling,Audio Production,Casual,Design & Illustration,...,Photo Editing,RPG,Racing,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Web Publishing
88310,"Action, Casual, Indie, Simulation, Strategy",Lost Summoner Kitty,2018-01-04,761140,1,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
88311,"Free to Play, Indie, RPG, Strategy",Ironbound,2018-01-04,643980,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [36]:
#Se exporta el dataset en CSV.
#df_dummies.to_csv('df_dummies.csv', index=False)

In [37]:
df_titulos = df_dummies[['title', 'id']]

In [54]:

df_titulos = df_titulos.rename(columns={"id": "item_id"})

In [55]:
df_titulos

                           title item_id
88310        Lost Summoner Kitty  761140
88311                  Ironbound  643980
88312    Real Pool 3D - Poolians  670290
88313                    弹炸人2222  767400
88315      Battle Royale Trainer  772540
...                          ...     ...
120439              Kebab it Up!  745400
120440            Colony On Mars  773640
120441  LOGistICAL: South Africa  733530
120442             Russian Roads  610660
120443       EXIT 2 - Directions  658870

[22530 rows x 2 columns]

In [60]:
df_sample = pd.read_csv("df_sample.csv")
titulosXXX = df_sample.merge(df_titulos, on="item_id")

ValueError: You are trying to merge on float64 and object columns. If you wish to proceed you should use pd.concat

In [66]:
unique_titles = df_titulos.drop_duplicates(subset=['title'])
unique_titles

                           title item_id
88310        Lost Summoner Kitty  761140
88311                  Ironbound  643980
88312    Real Pool 3D - Poolians  670290
88313                    弹炸人2222  767400
88315      Battle Royale Trainer  772540
...                          ...     ...
120439              Kebab it Up!  745400
120440            Colony On Mars  773640
120441  LOGistICAL: South Africa  733530
120442             Russian Roads  610660
120443       EXIT 2 - Directions  658870

[22513 rows x 2 columns]

In [69]:
search_value = 1
result = unique_titles.loc[unique_titles['item_id'] == search_value, 'title']
result

Series([], Name: title, dtype: object)

In [59]:
unique_titles.to_csv('unique_titles.csv', index=False)