In [6]:
# Se importan las librerías que se utilizarán en este archivo.
import pandas as pd
import json
import ast

In [7]:
data3 = []
with open('australian_users_items.json', "r", encoding="utf-8") as f3:
    for line in f3.readlines():
        data3.append(ast.literal_eval(line))
df_items = pd.DataFrame(data3)
df_items.head(5)

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [8]:
# Se eliminan las columnas irrelevantes
df_items = df_items.drop(['steam_id', 'user_url'], axis=1)

In [9]:
df_items.head(10)

,user_id,items_count,items
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea..."
5,MinxIsBetterThanPotatoes,371,"[{'item_id': '50', 'item_name': 'Half-Life: Op..."
6,NitemarePK,304,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
7,themanwich,258,"[{'item_id': '220', 'item_name': 'Half-Life 2'..."
8,maplemage,629,"[{'item_id': '240', 'item_name': 'Counter-Stri..."
9,Wackky,0,[]

In [18]:
# Se desanida la columna items para ver su información.
df_items['playtime_forever'] = df_items['items'].apply(lambda x: x[0].get('playtime_forever') if len(x) > 0 else 0)
df_items['playtime_2weeks'] = df_items['items'].apply(lambda x: x[0].get('playtime_2weeks') if len(x) > 0 else 0)
df_items['item_id'] = df_items['items'].apply(lambda x: x[0].get('item_id') if len(x) > 0 else 0)
df_items['playtime_forever'] = df_items['playtime_forever'].astype(int)
df_items['playtime_2weeks'] = df_items['playtime_2weeks'].astype(int)
df_items['item_name'] = df_items['items'].apply(lambda x: x[0].get('item_name') if len(x) > 0 else 0)

In [20]:
df_items.head(10)

,user_id,items_count,items,playtime_forever,playtime_2weeks,id,item_id,item_name
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik...",6,0,10,10,Counter-Strike
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10,10,Counter-Strike
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest...",923,0,1200,1200,Red Orchestra: Ostfront 41-45
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10,10,Counter-Strike
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea...",1131,0,300,300,Day of Defeat: Source
5,MinxIsBetterThanPotatoes,371,"[{'item_id': '50', 'item_name': 'Half-Life: Op...",256,0,50,50,Half-Life: Opposing Force
6,NitemarePK,304,"[{'item_id': '240', 'item_name': 'Counter-Stri...",3529,0,240,240,Counter-Strike: Source
7,themanwich,258,"[{'item_id': '220', 'item_name': 'Half-Life 2'...",219,0,220,220,Half-Life 2
8,maplemage,629,"[{'item_id': '240', 'item_name': 'Counter-Stri...",5751,0,240,240,Counter-Strike: Source
9,Wackky,0,[],0,0,0,0,0

In [23]:
df_items = df_items.drop(['user_id', 'items_count','items','playtime_forever','playtime_2weeks','id'], axis=1)

In [24]:
df_items.head(10)

  item_id                      item_name
0      10                 Counter-Strike
1      10                 Counter-Strike
2    1200  Red Orchestra: Ostfront 41-45
3      10                 Counter-Strike
4     300          Day of Defeat: Source
5      50      Half-Life: Opposing Force
6     240         Counter-Strike: Source
7     220                    Half-Life 2
8     240         Counter-Strike: Source
9       0                              0

In [25]:
df_items.to_csv('df_TitulosJuegos.csv', index=False)

In [1]:
import pandas as pd

# Assuming your dataset is stored in a pandas DataFrame called df_items
df_items_exploded = df_items.explode('items')

# The 'items' column will now be exploded, with each item in a separate row

# You can also reset the index if needed
df_items_exploded = df_items_exploded.reset_index(drop=True)

NameError: name 'df_items' is not defined

In [ ]:
# Se exporta el dataset limpio
df_items.to_csv('df_items.csv', index=False)