In [84]:
# Se importan las librerías que se utilizarán en este archivo.
import pandas as pd

In [85]:
# Se procede a abrir los archivos csv

df_items = pd.read_csv('df_items.csv')
df_outputs = pd.read_csv('df_outputs.csv')

In [86]:
df_items.head()

,user_id,items_count,items,playtime_forever,playtime_2weeks,id
0,76561197970982479,277,"[{'item_id': '10', 'item_name': 'Counter-Strik...",6,0,10
1,js41637,888,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
2,evcentric,137,"[{'item_id': '1200', 'item_name': 'Red Orchest...",923,0,1200
3,Riot-Punch,328,"[{'item_id': '10', 'item_name': 'Counter-Strik...",0,0,10
4,doctr,541,"[{'item_id': '300', 'item_name': 'Day of Defea...",1131,0,300

In [87]:
df_outputs.head(5)

,genres,title,release_date,id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,761140
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,643980
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,670290
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,767400
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-01-04,772540

In [88]:
# Se combinan los datasets outputs e items bajo el criterio "id".
df_merged = pd.merge(df_outputs, df_items, on='id')

In [89]:
df_merged = df_merged.drop(['items_count', 'items', 'playtime_2weeks'], axis=1)

In [90]:
df_merged['year'] = pd.to_datetime(df_merged['release_date'], errors='coerce').dt.year
df_merged.head(10)

,genres,title,release_date,id,user_id,playtime_forever,year
0,['Action'],Half-Life,1998-11-08,70,kube134,4,1998.0
1,['Action'],Half-Life,1998-11-08,70,76561198030567998,21,1998.0
2,['Action'],Half-Life,1998-11-08,70,itslonk,8,1998.0
3,['Action'],Half-Life,1998-11-08,70,76561198056857968,451,1998.0
4,['Action'],Half-Life,1998-11-08,70,jonasdbomb,0,1998.0
5,['Action'],Half-Life,1998-11-08,70,washington_,33,1998.0
6,['Action'],Half-Life,1998-11-08,70,PabloSanches,95,1998.0
7,['Action'],Half-Life,1998-11-08,70,Mastic,339,1998.0
8,['Action'],Half-Life,1998-11-08,70,advenger95,339,1998.0
9,['Action'],Half-Life,1998-11-08,70,76561198003056556,0,1998.0

In [91]:
# Se crea un grouping para conocer cuales son los títulos más jugados con el playtime forever.
most_played_games = df_merged.groupby('title')['playtime_forever'].sum().sort_values(ascending=False)
most_played_games.head(5)

title
Garry's Mod                         136225513
Counter-Strike: Source               49617125
Counter-Strike                       14856152
Counter-Strike: Global Offensive     10798193
Left 4 Dead 2                         6805042
Name: playtime_forever, dtype: int64

In [92]:
df_merged.to_csv('df_merged.csv', index=False)

In [ ]:
# Se crea un grouping para conocer cuales son los títulos más jugados con el playtime forever.
most_played_games = df_merged.groupby('title')['playtime_forever'].sum().sort_values(ascending=False)
most_played_games.head(5)

title
Garry's Mod                         136225513
Counter-Strike: Source               49617125
Counter-Strike                       14856152
Counter-Strike: Global Offensive     10798193
Left 4 Dead 2                         6805042
Name: playtime_forever, dtype: int64

In [137]:
import pandas as pd

def PlayTimeGenre(genero: str):

In [138]:
PlaytimeGenre("Action")

Series([], Name: playtime_forever, dtype: int64)