In [72]:
# Se importan las librerías que se utilizarán en este archivo.
import pandas as pd
import json
import ast

In [73]:
# Se crea una lista donde se almacenan las filas iteradas del archivo json. posteriormente se crea un data frame con dicha lista.
data2 = []
with open('australian_user_reviews.json', "r", encoding="utf-8") as f2:
    for line in f2.readlines():
        data2.append(ast.literal_eval(line))
df_reviews = pd.DataFrame(data2)
df_reviews.head(5)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [74]:
# Se procede a desanidar la columna reviews para poder manejar la información que contiene. 
df_reviews_desanidado = df_reviews.explode('reviews')
df_reviews_desanidado = pd.concat([df_reviews_desanidado.drop(['reviews'], axis=1), df_reviews_desanidado['reviews'].apply(pd.Series)], axis=1)

In [75]:
type(df_reviews_desanidado)
df_reviews_desanidado.head(5)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN

In [76]:
# eliminolas columnas que considero no son relevantes.
df_reviews_desanidado = df_reviews_desanidado.drop(['user_url', 'funny', 'last_edited', 'helpful', 'recommend'], axis=1).dropna(axis=1, how='all')

In [77]:
df_reviews_desanidado.head(5)

,user_id,posted,item_id,review
0,76561197970982479,"Posted November 5, 2011.",1250,Simple yet with great replayability. In my opi...
0,76561197970982479,"Posted July 15, 2011.",22200,It's unique and worth a playthrough.
0,76561197970982479,"Posted April 21, 2011.",43110,Great atmosphere. The gunplay can be a bit chu...
1,js41637,"Posted June 24, 2014.",251610,I know what you think when you see this title ...
1,js41637,"Posted September 8, 2013.",227300,For a simple (it's actually not all that simpl...

In [78]:
df_reviews_desanidado.to_csv('df_reviews_desanidado.csv', index=False)